<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="../../static/img/logoAnomeet3.png" width="60" height="60"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
             {% if request.cookies.get('user_id') %}
            <li class="nav-item">
            <a href="/" class="nav-link">Accueil</a>
            </li>
            <li class="nav-item">
            <a href="/profile" class="nav-link">Profil</a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">Message</a>
            </li>
            <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
            <a href="/disconnect" class="nav-link">Déconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="signIn">Inscription</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="login">Connexion</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
