<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
		<link href="../static/css/style.css" rel="stylesheet">
		<link href="../static/css/home.css" rel="stylesheet">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
		<!--sert à utiliser 675 icones de font awesome:https://fontawesome.com/?from=io-->
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>


		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

	</head>

<body class=" fontSize fontColor body-home background-color-none">

	<header class="row ">
		<div class="col-lg-12 col-xs-12 ">
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 backgroundColor padding5   hidden-xs">
				<a href="index.html"><img  class="logo" src="../static/img/logoAnomeet3.png" alt="logo" width="80px"/></a>
				<span class="font-family logo-text">Anomeet</span>
			</div>
			
			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-6  padding5   ">
				 <ul class="nav navbar-nav navbar-right ">
				    <li class="active "><a href="#" class="fontColor" style="color:#ff3399">Accueil </a></li>
					<li><a href="home.html" class="fontColor" style="color:#ff3399">Profil</a></li>
				    <li><a href="#" class="fontColor" style="color:#ff3399">Message</a></li>
					<li><a href="#" class="fontColor" style="color:#ff3399">Contact</a></li>
					<li><a href="/disconnect" class="fontColor" style="color:#ff3399">Déconnexion</a></li>
			    </ul>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="row ">

			<section class="col-lg-6 home ">
				<div id="tabs">
					<ul class="color-hover">
						
						<li><a href="#tabs-1" id="tab1"><img src="../static/img/icon/search.png" alt="loupe "></a>
						</li>
					
					</ul>
					
					<div id="tabs-1">
						<div class="row search">
							<form action="#"   method="POST" >
							
						<div class="  col-lg-offset-3 col-lg-6 marginTop30">
							
							<div class="form-group">
								<label for="ageMin" class="font-family  ">Age:</label>
								<div class="input-group">
									<label for="age-min-search" class="  input-group-addon">De</label>
									<!--<input id="ageMin" type="number" class="form-control">-->
									<select class="form-control" id="age-min-search">
									  <option>-----</option>
									  <option value="18">18</option>
									  <option value="19">19</option>
									  <option value="20">20</option>
									  <option value="21">21</option>
									  <option value="22">22</option>
									  <option value="23">23</option>
									  <option value="24">24</option>
									  <option value="25">25</option>
									  <option value="26">26</option>
									  <option value="27">27</option>
									  <option value="28">28</option>
									  <option value="29">29</option>
									  <option value="30">30</option>
									  <option value="31">31</option>
									  <option value="32">32</option>
									  <option value="33">33</option>
									  <option value="34">34</option>
									  <option value="35">35</option>
									  <option value="36">36</option>
									  <option value="37">37</option>
									  <option value="38">38</option>
									  <option value="39">39</option>
									  <option value="40">40</option>
									  <option value="41">41</option>
									  <option value="42">42</option>
									  <option value="43">43</option>
									  <option value="44">44</option>
									  <option value="45">45</option>
									  <option value="46">46</option>
									  <option value="47">47</option>
									  <option value="48">48</option>
									  <option value="49">49</option>
									  <option value="50">50</option>
									  <option value="51">51</option>
									  <option value="52">52</option>
									  <option value="53">53</option>
									  <option value="54">54</option>
									  <option value="55">55</option>
									  <option value="56">56</option>
									  <option value="57">57</option>
									  <option value="58">58</option>
									  <option value="59">59</option>
									  <option value="60">60</option>
									  <option value="61">61</option>
									  <option value="62">62</option>
									  <option value="63">63</option>
									  <option value="64">64</option>
									  <option value="65">65</option>
									  <option value="66">66</option>
									  <option value="67">67</option>
									  <option value="68">68</option>
									  <option value="69">69</option>
									  <option value="70">70</option>
									  <option value="71">71</option>
									  <option value="72">72</option>
									  <option value="73">73</option>
									  <option value="74">74</option>
									  <option value="75">75</option>
									  <option value="76">76</option>
									  <option value="77">77</option>
									  <option value="78">78</option>
									  <option value="79">79</option>
									  <option value="80">80+</option>
									</select>
									<label for="age-max-search" class=" input-group-addon">à</label>
									<!--<input id="ageMax" type="number" class="form-control">-->
									<select class="form-control" id="age-max-search">
									  <option>-----</option>
									  <option value="18">18</option>
									  <option value="19">19</option>
									  <option value="20">20</option>
									  <option value="21">21</option>
									  <option value="22">22</option>
									  <option value="23">23</option>
									  <option value="24">24</option>
									  <option value="25">25</option>
									  <option value="26">26</option>
									  <option value="27">27</option>
									  <option value="28">28</option>
									  <option value="29">29</option>
									  <option value="30">30</option>
									  <option value="31">31</option>
									  <option value="32">32</option>
									  <option value="33">33</option>
									  <option value="34">34</option>
									  <option value="35">35</option>
									  <option value="36">36</option>
									  <option value="37">37</option>
									  <option value="38">38</option>
									  <option value="39">39</option>
									  <option value="40">40</option>
									  <option value="41">41</option>
									  <option value="42">42</option>
									  <option value="43">43</option>
									  <option value="44">44</option>
									  <option value="45">45</option>
									  <option value="46">46</option>
									  <option value="47">47</option>
									  <option value="48">48</option>
									  <option value="49">49</option>
									  <option value="50">50</option>
									  <option value="51">51</option>
									  <option value="52">52</option>
									  <option value="53">53</option>
									  <option value="54">54</option>
									  <option value="55">55</option>
									  <option value="56">56</option>
									  <option value="57">57</option>
									  <option value="58">58</option>
									  <option value="59">59</option>
									  <option value="60">60</option>
									  <option value="61">61</option>
									  <option value="62">62</option>
									  <option value="63">63</option>
									  <option value="64">64</option>
									  <option value="65">65</option>
									  <option value="66">66</option>
									  <option value="67">67</option>
									  <option value="68">68</option>
									  <option value="69">69</option>
									  <option value="70">70</option>
									  <option value="71">71</option>
									  <option value="72">72</option>
									  <option value="73">73</option>
									  <option value="74">74</option>
									  <option value="75">75</option>
									  <option value="76">76</option>
									  <option value="77">77</option>
									  <option value="78">78</option>
									  <option value="79">79</option>
									  <option value="80">80+</option>
									</select>
								</div>
							</div>	  
						</div>
							
							<div class="col-lg-offset-3 col-lg-6  " >
							  <div class="form-group">
									<label for="origin" class="font-family">Pays:</label>
									<select class="form-control" id="origin">
									  <option>-----</option>
									  <option>Belgique</option>
									  <option>France</option>
									  <option>Luxembourg</option>
									</select>
								  </div>
							</div>
							<div class="col-lg-offset-3 col-lg-6  " >
							  <div class="form-group">
									<label for="origin" class="font-family">Région:</label>
									<select class="form-control" id="origin">
									  <option>-----</option>
									  <option>Hainaut</option>
									  <option>Flandre</option>
									  <option>Bruxelles</option>
									</select>
								  </div>
							</div>
							<div class="col-lg-offset-3 col-lg-6  " >
							  <div class="form-group">
									<label for="origin" class="font-family">Ville:</label>
									<select class="form-control" id="origin">
									  <option>-----</option>
									  <option>Charleroi</option>
									  <option>Mons</option>
									  <option>Monceau</option>
									</select>
								  </div>
							</div>
							<div class="col-lg-offset-3 col-lg-6  " >
							  <div class="form-group">
									<label for="origin" class="font-family">Origine:</label>
									<select class="form-control" id="origin">
									  <option>-----</option>
									  <option>Maroc</option>
									  <option>Algérie</option>
									  <option>Tunisie</option>
									</select>
								  </div>
							</div>
							 <div class="col-lg-offset-3 col-lg-6 marginTop30 text-center" >  
								<input type="submit" class="btn btn-success " value="Recherche"/>
							</div>
						  </form>
						</div>
					</div>
			
				</div>
			</section>

<!--AM16 - Stephane & Guy ----------------------------------------------------->
			<aside class="col-lg-3">

					  
					  <div id="mainboad-tab-container">
					  	<div id="canal1" class="mainboard-tab active-tab" onclick="switchCanal(1);">Général</div>
					  	<div id="canal2" class="mainboard-tab inactive-tab" onclick="switchCanal(2);">Love</div>
					  	<div id="canal3" class="mainboard-tab inactive-tab" onclick="switchCanal(3);">Jordan XXL</div>
					  </div>

					  <div id="mainbord-1" class="mainboard-box">
					  	<!-- premier canal -->

					  	<!--<div>
					  		<div class="bubble bubble-white">
					  			<div class="bubble-user-id">{user-id}</div>
					  			<div class="bubble-date">{date}</div>
					  			<div class="bubble-msg">{msg}</div>
					  		</div>	
					  	</div>

					  	<div>
					  		<div class="bubble bubble-blue">
					  			<div class="bubble-user-id">{user-id}</div>
					  			<div class="bubble-date">{date}</div>
					  			<div class="bubble-msg">{msg}</div>
					  		</div>	
					  	</div>-->

					  </div>
					  

					  <div id="mainbord-2" class="mainboard-box">
						<!-- 2eme canal-->

					  </div>

					  <div id="mainbord-3" class="mainboard-box">
					  	<!--3eme-->

					  </div>

				 <br>
				<div id="MsgBox">
					<textarea style="width:500px; height:100%;resize:none;" id="inputMsg" onclick="this.setSelectionRange(0,0)">
					</textarea>
					<div style="text-align:center; width:500px">
						<button class="btn btn-success" id="btnSendMsg">Envoyer</button>
					</div>
				</div>
			</aside>
		</div>
	</div>
</body>
</html>



<style name="AM16">
/*------------------------------------------------------------------------------------------------AM16 CSS*/
/*-------------------------------------------------------------------------------------rework Imad*/
	.mainboard-tab {
		display:inline-block;
		margin-top:10px;
		border:1px solid rgba(0, 0, 0, 0.5);
		border-radius:5px;
		width:85px;
		text-align:center;
		font-weight:700;
		cursor:pointer;
	}
	.mainboard-box {
		border:1px solid rgba(0, 0, 0, 0.5);
		border-radius:10px;
		box-shadow:2px 2px 10px rgba(0, 0, 0, 0.3);
		overflow-y:auto;
	}
	.active-tab {
		background-color:#ff3399;
		color:white;
	}
	.inactive-tab {
		background-color:#cccccc;
		color:#404040;
	}
/*-------------------------------------------------msg style in chanel*/
.bubble {
	display:inline-block;
	border:1px solid rgba(0, 0, 0, 0.3);
	border-radius:10px;
	margin:1px 3px 0px 3px;
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.2);
}
.bubble-white {
	background-color:#F2F2F2;
	color:#1A1A1A;
	max-width:100%;
	min-width:100px;
}
.bubble-blue {
	background-color:#0066FF;
	color:#E6F0FF;
	max-width:100%;
	min-width:100px;
}
.bubble-user-id {
	font-size:7px;
}
.bubble-date {
	font-size:9px;
	text-align:center;
}
.bubble-msg {
	padding: 0px 3px 3px 3px;
}

</style>

<script name="AM16">

/*-------------------------------------------------------------------------------------------------AM16 JS*/
/*--------------------------------------------------------------------------------------global var*/
	//Route for retrieving msg
	gen_url = "MainChannelMsg";
	//Route for sending msg
	send_url = "MainChannelSend";
	//Time of setInterval (ms)
	gen_time = 500;

	user_id = getCookie("user_id");

	buffer1 = "";
	buffer2 = "";
	buffer3 = "";

	id_msg_buffer = [];

	var canalActif = 1;

	var canal1Btn = document.getElementById("canal1");
	var canal2Btn = document.getElementById("canal2");
	var canal3Btn = document.getElementById("canal3");
	var canal1Board = document.getElementById("mainbord-1");
	var canal2Board = document.getElementById("mainbord-2");
	var canal3Board = document.getElementById("mainbord-3");

	canal1Board.style.display = "block";
	canal2Board.style.display = "none";
	canal3Board.style.display = "none";

	canalData = {};
/*------------------------------------------------------------------------------------Switch canal*/
	function switchCanal(c) {
		switch(c) {
		case 1:
			console.log("Switch to canal 1");
			canal1Board.style.display = "block";
			canal2Board.style.display = "none";
			canal3Board.style.display = "none";
			canal1Btn.classList.remove('inactive-tab');
			canal1Btn.classList.add('active-tab')
			canal2Btn.classList.remove('active-tab');
			canal2Btn.classList.add('inactive-tab')
			canal3Btn.classList.remove('active-tab');
			canal3Btn.classList.add('inactive-tab')
			canalActif = 1;
			break;
		case 2:
			console.log("Switch to canal 2");
			canal1Board.style.display = "none";
			canal2Board.style.display = "block";
			canal3Board.style.display = "none";
			canal1Btn.classList.remove('active-tab');
			canal1Btn.classList.add('inactive-tab')
			canal2Btn.classList.remove('inactive-tab');
			canal2Btn.classList.add('active-tab')
			canal3Btn.classList.remove('active-tab');
			canal3Btn.classList.add('inactive-tab')
			canalActif = 2;
			break;
		case 3:
			console.log("Switch to canal 3");
			canal1Board.style.display = "none";
			canal2Board.style.display = "none";
			canal3Board.style.display = "block";
			canal1Btn.classList.remove('active-tab');
			canal1Btn.classList.add('inactive-tab')
			canal2Btn.classList.remove('active-tab');
			canal2Btn.classList.add('inactive-tab')
			canal3Btn.classList.remove('inactive-tab');
			canal3Btn.classList.add('active-tab')
			canalActif = 3;
			break;
		default:
			canal1Board.style.display = "block";
			canal2Board.style.display = "none";
			canal3Board.style.display = "none";
			canalActif = 1;
		}
	}
/*-------------------------------------------------------------------------------------reset board*/
	function resetBoards(){
		canal1Board.innerHTML = "";
		canal2Board.innerHTML = "";
		canal3Board.innerHTML = "";
	}
/*--------------------------------------------------------------------------------------Draw board*/
	function drawBoards(data){
		resetBoards();
		//console.log("Calling drawBoards function")
		if (canalData == "") {return;}

		//Bool pour vérifier si il y a un nouveau message
		//Si c'est le cas, on bouge le scroll
		var canal1NewElement = false;
		var canal2NewElement = false;
		var canal3NewElement = false;

		var skeleton_white = "<div><div class='bubble bubble-white'><div class='bubble-user-id'>{user-id}</div><div class='bubble-date'>{date}</div><div class='bubble-msg'>{msg}</div></div></div>";
		var skeleton_blue = "<div><div class='bubble bubble-blue'><div class='bubble-user-id'>{user-id}</div><div class='bubble-date'>{date}</div><div class='bubble-msg'>{msg}</div></div></div>";

		//Canal 1
		var canal1Data = canalData["Canal1"];
		for (var i = 0; i < canal1Data.length; i++) {
			//Check if msg was already in printed
			var t = id_msg_buffer.includes(canal1Data[i][0]);
			if (t == false) {
				canal1NewElement = true
				//Check owner of msg with user_id
				if (canal1Data[i][1] == user_id){
					var s = skeleton_blue;
					s = s.replace("{user-id}", canal1Data[i][4]);
					s = s.replace("{date}", canal1Data[i][2]);
					s = s.replace("{msg}", canal1Data[i][3]);
					id_msg_buffer.push(canal1Data[i][0])
					buffer1 = buffer1 + s;
				} else {
					var s = skeleton_white;
					s = s.replace("{user-id}", canal1Data[i][4]);
					s = s.replace("{date}", canal1Data[i][2]);
					s = s.replace("{msg}", canal1Data[i][3]);
					id_msg_buffer.push(canal1Data[i][0])
					buffer1 = buffer1 + s;
				}
			}
		}
		//Print to canal
		canal1Board.innerHTML = buffer1;
		//Verifie si on doit scrollTop
		if (canal1NewElement == true) {
			canal1Board.scrollTop = canal1Board.scrollHeight;
		}

		//Canal 2
		var canal2Data = canalData["Canal2"];
		for (var i = 0; i < canal2Data.length; i++) {
			//Check if msg was already in printed
			var t = id_msg_buffer.includes(canal2Data[i][0]);
			if (t == false) {
				canal2NewElement = true;
				//Check owner of msg with user_id
				if (canal2Data[i][1] == user_id){
					var s = skeleton_blue;
					s = s.replace("{user-id}", canal2Data[i][4]);
					s = s.replace("{date}", canal2Data[i][2]);
					s = s.replace("{msg}", canal2Data[i][3]);
					id_msg_buffer.push(canal2Data[i][0])
					buffer2 = buffer2 + s;
				} else {
					var s = skeleton_white;
					s = s.replace("{user-id}", canal2Data[i][4]);
					s = s.replace("{date}", canal2Data[i][2]);
					s = s.replace("{msg}", canal2Data[i][3]);
					id_msg_buffer.push(canal2Data[i][0])
					buffer2 = buffer2 + s;
				}
			}
		}
		//Print to canal
		canal2Board.innerHTML = buffer2;
		//Verifie si on doit scrollTop
		if (canal2NewElement == true) {
			canal2Board.scrollTop = canal2Board.scrollHeight;
		}

		//Canal 3
		var canal3Data = canalData["Canal3"];
		for (var i = 0; i < canal3Data.length; i++) {
			//Check if msg was already in printed
			var t = id_msg_buffer.includes(canal3Data[i][0]);
			if (t == false) {
				canal3NewElement = true;
				//Check owner of msg with user_id
				if (canal3Data[i][1] == user_id){
					var s = skeleton_blue;
					s = s.replace("{user-id}", canal3Data[i][4]);
					s = s.replace("{date}", canal3Data[i][2]);
					s = s.replace("{msg}", canal3Data[i][3]);
					id_msg_buffer.push(canal3Data[i][0])
					buffer3 = buffer3 + s;
				} else {
					var s = skeleton_white;
					s = s.replace("{user-id}", canal3Data[i][4]);
					s = s.replace("{date}", canal3Data[i][2]);
					s = s.replace("{msg}", canal3Data[i][3]);
					id_msg_buffer.push(canal3Data[i][0])
					buffer3 = buffer3 + s;
				}
			}
		}
		//Print to canal
		canal3Board.innerHTML = buffer3;
		//Verifie si on doit scrollTop
		if (canal3NewElement == true) {
			canal3Board.scrollTop = canal3Board.scrollHeight;
		}

	}
/*------------------------------------------------------------------------------------Retrieve Msg*/
	function retrieveMsg(){
		/* Server must return JSON of type:
		{
	"Canal1" : [["Msg_id", "user_id", "date", "message", "first_name"], [...]],
	"Canal2" : [["Msg_id", "user_id", "date", "message", "first_name"], [...]],
	"Canal3" : [["Msg_id", "user_id", "date", "message", "first_name"], [...]],
		}
		*/

		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function(){
			//All good
			if (this.readyState == 4 && this.status == 200) {
				//Verification d'erreur serveur
				if (this.responseText == "Error SQL"){
					console.error("Erreur serveur : Error SQL");
					return;
				}
				if (this.responseText == "Error Data"){
					console.error("Erreur serveur : Error Data (line 53)");
					return;
				}
				if (this.responseText == "Error making Resp"){
					console.error("Erreur serveur : Error making Resp (line 70)");
					return;
				}

				canalData = JSON.parse(this.responseText);
				drawBoards(canalData);
			}
			//End of request but something went wrong...
			if (this.readyState == 4 && this.status != 200) {
				console.error("Error on function retrieveMsg code : " + this.status);
			}
		}
		xhttp.open("POST", gen_url, true);
		xhttp.send();
	}
/*-------------------------------------------------------------------------------------setInterval*/
	setInterval(retrieveMsg, gen_time);
/*---------------------------------------------------------------------------------------getCookie*/
	function getCookie(cname) {
  		let name = cname + "=";
  		let ca = document.cookie.split(';');
  		for(let i = 0; i < ca.length; i++) {
    		let c = ca[i];
    		while (c.charAt(0) == ' ') {
    			c = c.substring(1);
    		}
    		if (c.indexOf(name) == 0) {
      			return c.substring(name.length, c.length);
    		}
  		}
  		return "";
	}
/*-----------------------------------------------------------------------------------------sendMsg*/
	function sendMsg(){
		/*Send msg to server:
		["CanalNumber", "user_id", "msg", "frist_name"]
		*/

		//Need to add verification on msg...
		let text = document.getElementById("inputMsg").value;
		text = text.trim();

		if (text == "") {
			console.error("Erreur Message : message vide...");
			document.getElementById("inputMsg").style.borderColor = "1px solid red";
			return;
		}
		if(text.length > 512) {
			console.error("Erreur Message : message trop long (>512)");
			document.getElementById("inputMsg").style.borderColor = "1px solid red";
			return;
		}
		/*
		//Verification user_id
		if (user_id == ""){
			console.error("Erreur Message : user_id non trouvé...");
			document.getElementById("inputMsg").style.borderColor = "1px solid red";
			return;
		}
		*/

		// Verification prenom
		if (first_name == ""){
			console.error("Erreur Message : Prénom vide...");
			document.getElementById("inputMsg").style.borderColor = "1px solid red";
			return;
		}

		var msgData = JSON.stringify([canalActif, user_id, text]);

		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			//good, check resp form server
			if (this.readyState == 4 && this.status == 200) {
				// Msg send without error
				if (this.responseText == "0") {
					console.log("Message envoyé");
					document.getElementById("inputMsg").value = "";
					document.getElementById("inputMsg").style.borderColor = "";
				}
				// Error received form server
				if (this.responseText != "0"){
					console.error("Erreur Message : code reçu du serveur => " + this.responseText);
					document.getElementById("inputMsg").style.borderColor = "1px solid red";
				}
			}
			//Ajax not good
			if (this.readyState == 4 && this.status != 200){
				console.error("Erreur Message : code HTML => " + this.status);
				document.getElementById("inputMsg").style.borderColor = "1px solid red";
			}
		}
		xhttp.open("POST", send_url, true);
		xhttp.send(msgData);
	}
/*-----------------------------------------------------------------------Event listener (send msg)*/
	//Bouton d'envoi
	document.getElementById("btnSendMsg").addEventListener('click', sendMsg);
	//Appui sur enter
	document.getElementById("inputMsg").addEventListener('keydown', function(event){
		if (event.keyCode === 13 && !event.shiftKey){
			event.preventDefault();
			sendMsg();
		}
	})



/*--------------------------------------------------------AJAX Notes*/
//-                                        Recuperation des messages : 
//-                                            -route : MainChannelMsg
//-                                                    -methode : POST
//-                                               -retour du serveur : 
//-         {
//- 	"Canal1" : [["Msg_id", "date", "message", "first_name"], [...]],
//- 	"Canal2" : [["Msg_id", "date", "message", "first_name"], [...]],
//- 	"Canal3" : [["Msg_id", "date", "message", "first_name"], [...]],
//- 		}
//- 
//-                                                 Envoi de message :
//-                                           -route : MainChannelSend
//-                                                    -methode : POST
//-                          -json : ["CanalNumber", "user_id", "msg"]
//-                                               -retour du serveur : 
//-                              0 : ok, autre : erreur sur le serveur
/*------------------------------------------------------------------*/
</script>
