/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Beau+Rivage&family=Great+Vibes&family=Italianno&family=Tangerine:wght@700&display=swap');

body {
color:black;
background-color:white;
background-image:url(../img/anonymous.png);
background-attachment:fixed;
margin:0;
}

.container {
    margin: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    hr {
        background-color: rgba(41, 41, 41, 1.00);
        border: none;
        height: 1px;
    }

    #connexion-xs {
        border-radius: 10px;
        box-shadow: 2px 2px 5px grey;
        padding-bottom: 5px;
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: rgb(215, 217, 207);
        font-size: 1em;
    }

    #connexion-xs label {
        font-size: 1.4em;
    }

    .bold {
        font-weight: bolder;
    }

    .or {
        font-size: 0.8em;
        margin-top: -33px;
        font-weight: bold;
        color: black;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .subscribe h1 {
        font-size: 2em;
    }

    #connexion-xs {
        border-radius: 10px;
        box-shadow: 2px 2px 5px grey;
        padding-bottom: 5px;
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: rgb(215, 217, 207);
        font-size: 1em;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .background-img {
        background-image: url("../img/anonymous.png");
    }

    .subscribe h1 {
        font-size: 4em;
    }
}

.font-family {
    font-family: 'Beau Rivage', cursive;
    font-size: 1.2em;
}

.logo {
    padding: 5px;
}

.logo-text {
    font-weight: bolder;
    letter-spacing: 1rem;
    font-size: 2em;
    color:#ff3399;
    position: relative;
    top: 20px;
}

header {
    background-color: rgba(41, 41, 41, 1.00);
}

h1 {
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 1rem;
}

.test {
    border: 1px solid red;
}

.margin-top {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-right-50 {
    margin-right: 50px;
}

.padding-5 {
    padding: 5px;
}

.padding-bottom-12 {
    padding-bottom: 12px;
}

.padding-left-10 {
    padding-left: 10px;
}

.font-size {
    font-size: 2em;
}

.subscribe {
    margin-top: 30px;
    background-color: rgb(215, 217, 207);
    border-radius: 10px;
    box-shadow: 4px 4px 7px grey;
    padding-bottom: 5px;
    font-size: 1.5em;
}

.new-password-box {
    margin-top: 100px;
    margin-bottom: 100px;
}


.background-color {
    background-color: rgba(41, 41, 41, 1.00);
}

.forgot-password {
    font-size: 0.9em;
    font-family: "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: white;
}

.forgot-password:hover {
    color: #ffef76;
}

.font-color {
    font-size: 1.15em;
    color: lightpink;
    text-shadow: 1px 1px grey;

}

.box {
    height: 100px;
}

label {
    letter-spacing: 0.2rem;
}
.background-color-none{
	background-image: none !important;
}

.header
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffc1;
    width: 100%;
    z-index: 6;
}

.trunk
{
    padding-top: 11em;
}
