<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link href="../../static_files/css/style.css" rel="stylesheet">
    <link href="../../static_files/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/demos/style.css">

</head>

<body class=" fontSize fontColor">
<div class="container-fluid ">

    <section>
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 backgroundColor padding5  ">
                <div class=" col-xs-6 col-sm-6  ">
                    <a href="index.html"><img class="logo" src="../../static_files/img/logoAnomeet3.png" alt="logo"
                                              width="80px"/></a>
                    <span class="font-family logo-text">myhlel</span>
                </div>
                <div class=" col-xs-6 col-sm-6 text-right  marginTop20">
                    <a href="connexion.html" id="submit" name="submit"
                       class="btn btn-success hidden-lg hidden-md hidden-sm hidden-xs  marginTop ">Se connecter</a>
                    <a class="forgotPswd" href="forget_password.html">mdp oublié?</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row ">
            <div class="col-lg-12 ">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6 col-lg-4 col-lg-offset-4   text-center   subscribe newPswdBox">
                    <h1 class="font-family">Connexion</h1>
                    <form action="#" method="POST">
                        <div class="col-lg-offset-3 col-lg-6  marginTop30">
                            <label class="font-family "> Email:</label>
                            <input type="email" placeholder="Votre Email" class="form-control input-lg"/>
                            <span class="text-danger"></span></div>
                        <div class="col-lg-offset-3 col-lg-6  marginTop30">
                            <label class="font-family "> Mot de passe:</label>
                            <input type="password" placeholder="password" class="form-control input-lg"/>
                            <span class="text-danger"></span>
                        </div>
                        <div class="col-lg-offset-3 col-lg-6 marginTop30">
                            <button type="submit" class="btn btn-success btn-lg ">Enregistrer</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>

    </section>


    <footer class="  text-center font-family  paddingBottom12 ">
        <div class="row">
            <div class="col-12 ">
                Anomeet
            </div>
        </div>

    </footer>
</div>

</body>
</html>
