<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page de connexion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../../static/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="../../static/css/index.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Appeler le header ici -->
    {% include 'include/header.html' %}

    <!-- Contenu de la page -->
    <div class="container py-4">
      <div class="card mb-3" style="max-width: 5400px;">
        <div class="row g-0" style="background-color: black">
          <div class="col-md-4">
            <img src="../../static/img/logoAnomeetConnexion.png" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="col-md-8">
            <div class="card-body">
                {% block content %}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                            {% for category, message in messages %}
                                <div class="{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                    {% endwith %}
                {% endblock %}
              <form class="row g-4 text-white" method="post" action="login_user">
                <div class="col-md-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-md-12">
                  <label for="password" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="submit">Connexion</button>
                  <button class="btn btn-secondary" type="reset">Annuler</button>
                </div>
                <p><i>En cliquant sur le bouton "Connexion" ci-dessus, vous reconnaissez
                    avoir lu et compris les conditions et termes d'utilisation de notre
                    service. Vous acceptez également de vous conformer à ces conditions
                    pendant toute la durée de votre utilisation de notre site web.
                    Si vous n'acceptez pas ces conditions, veuillez ne pas vous connecter.</i></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Appeler le footer ici -->
    {% include 'include/footer.html' %}
  </body>
</html>
