<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Connection</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/home.css" rel="stylesheet">
</head>

<body class="font-size font-color">
<div class="container-fluid ">
    <section>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 background-color padding-5">
                <div class="col-xs-6 col-sm-6">
                    <a href="../index.html"><img class="logo" src="../../static/img/logoAnomeet3.png" alt="logo"
                                                 width="80px"/></a>
                    <span class="font-family logo-text">myhlel</span>
                </div>
                <div class="col-xs-6 col-sm-6 text-right margin-top-20">
                    <a href="connexion.html" id="submit"
                       class="btn btn-success hidden-lg hidden-md hidden-sm hidden-xs margin-top">Se connecter</a>
                    <a class="forgot-password" href="forget_password.html">mdp oublié?</a>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-6 col-lg-4 col-lg-offset-4 text-center subscribe new-password-box">
                    <h1 class="font-family">Connexion</h1>
                    <form action="login" method="GET">
                        <div class="col-lg-offset-3 col-lg-6 margin-top-30">
                            <label for="email" class="font-family"> Email:</label>
                            <input id="email" name="email" type="email" placeholder="Votre Email" class="form-control input-lg"/>
                        </div>
                        <div class="col-lg-offset-3 col-lg-6 margin-top-30">
                            <label for="password" class="font-family"> Mot de passe:</label>
                            <input id="password" name="password" type="password" placeholder="mot de passe" class="form-control input-lg"/>
                        </div>
                        <div class="col-lg-offset-3 col-lg-6 margin-top-30">
                            <button type="submit" class="btn btn-success btn-lg">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center font-family padding-bottom-12">
        <div class="row">
            <div class="col-12">
                Anomeet
            </div>
        </div>
    </footer>
</div>
</body>
</html>
